* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transform: scale(0);
    transition: transform 1.5s ease, width 1.5s ease;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 20px; */
}

.image-container.expand {
    transform: scale(1);
}

.image-container.shift-right-half {
    width: 50vw;
    transform: translateX(50vw) scale(1);
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.header-left {
    margin-left: 80px;
    margin-top: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.header-right button {
    height: 40px;
    width: 100px;
    background-color: white;
    color: green;
    font-family: cursive;
    border-radius: 20px;
    border-color: gray;
}

.enroll-button {
    cursor: pointer;
}

.header h6 {
    color: rgb(88, 88, 88);
    font-weight: 100;
    text-align: center;
}

.form-container {
    height: auto;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.login-container {
    position: absolute;
    top: 0;
    left: -50vw;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 1;
    transition: left 1.5s ease;
}

.login-container.slide-in-left {
    left: 0;
}

.login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.login-form h1 {
    text-align: center;
}

.login-form h6 {
    color: rgb(88, 88, 88);
    font-weight: 100;
    margin-bottom: 20px;
    text-align: center;
}

.login-form input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: green;
}

input[type="text"] :focus {
    border-color: green;
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #218838;
}

.checkbox-container {
    display: flex;
    margin-top: 10px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
    width: auto;
}

.checkbox-container label {
    font-size: 14px;
    color: #333;
}

.forget {
    display: flex;
    align-items: center;
    justify-content: center;
    color: green;
    cursor: pointer;
    font-size: 0.7rem;
}

@media (max-width: 768px) {
    .image-container {
        display: none;
    }

    .login-container {
        width: 100vw;
        left: 0;
    }
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease;
    z-index: 10;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-top: 20px;
    display: none;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.zoom-in {
    animation: zoomIn 1s ease forwards;
}

.circle.move-to-top-left {
    top: 20px;
    left: 30px;
    transform: translate(0, 0);
}

.logo {
    width: 89%;
    margin-left: -3px;
    margin-top: -13px;

}

.message-box {
    display: none;
    margin-top: 150px;
    padding: 10px;
    background-color: black;
    color: white;
    position: absolute;
    justify-content: right;
    width: 200px;
    z-index: 100;
    margin-right: 20px;
    font-size: 0.7rem;
    border-radius: 10px;
}

#enroll-button:hover+.message-box {
    display: block;
}

.footer {
    justify-content: baseline;
    align-items: end;
    margin: auto;
    margin-top: 50px;
}

.footer-top {
    display: flex;
    color: rgb(88, 88, 88);
    font-size: small;
    justify-content: center;
    align-items: center;
}

.footer-bottom {
    display: flex;
    color: rgb(88, 88, 88);
    font-size: small;
    justify-content: center;
    align-items: center;
}